project:
  type: website
  output-dir: docs

website:
  title: "anthony-pignatelli.github.io"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - publications.qmd
      - research.qmd
      - teaching.qmd

format:
  html:
    theme: sandstone
    css: styles.css
    toc: true

editor: visual



